body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
header {
    background-color: #4CAF50;
    padding: 10px 0;
    text-align: center;
  }
  
header img {
    max-width: 500px;
  }
  
  
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
  }
  
nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
  }
  
nav a:hover {
    background-color: #ddd;
    color: black;
  }

.copyr {
    position: relative;
    top: 16px;  
    color: aliceblue;
    text-align: center;
   
  }

footer {
    background-color: black;
    height: 50px;

  }

